# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# User-specific directories
AppData/
Apple/
Contacts/
Downloads/
Favorites/
Google/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
iCloudDrive/
iCloudPhotos/

# Temporary files and build artifacts
*.exe
*.out
*.zip
*.log
*.tmp
*.class

# System files
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
NTUSER.DAT{*}.TM.blf
NTUSER.DAT{*}.TMContainer*.regtrans-ms

# Specific directories
Designer/
EX3/
Ex4/
Ex5/
Java2/
META-INF/
Obsidian/
__MACOSX/
aizuhack/
aizuhack-bot/
hw/
jgit-2018/
jgit-2022/
kadai/
lecture_past/
mogwai-erdesignerng-3.1.1/
python/
s1290101-e6/
s1290101-e7/
s1290101.RMI/
se1ex12/
senkei2-ex/
sql-workbench-j-build-128/
src/
temp/
tmp/
AtCoder-Beginners-Selection/
Cadence6/
Computer_architecture/
DataManegement/
Documents/
NetworkPrograming/
NetworkSecurity/
OS-Exe/
OverridingAndHidingMethods.txt
Prog1/
SA/
SPLS/
Software engineering/
System_Ex/
Systems/
Tracing/
VehicleTest.java
arg/
storage/
# Specific files
.gitconfig
Quiz-L11-SOL*.docx
academic-er*.xml
dm.sql
dm_example.mv.db
dm_example.trace.db
ex02.drawio
gpa.c
line bike service.txt
q4.ods
q5.c
result.txt
se1ex12.jar
voice_ex3.wav

# Non-ASCII named directories (both in Unicode and escaped form)
aizuhack-発表/
aizuhack-\347\231\272\350\241\250/
力学演習/
\345\212\233\345\255\246\346\274\224\347\277\222/
微積　ハンドアウト/
\345\276\256\347\251\215\343\200\200\343\203\217\343\203\263\343\203\211\343\202\242\343\202\246\343\203\210/
情報セキュリティ/
\346\203\205\345\240\261\343\202\273\343\202\255\343\203\245\343\203\252\343\203\206\343\202\243/
経済学/
\347\265\214\346\270\210\345\255\246/
過去問-1年-1学期/
\351\201\216\345\216\273\345\225\217-1\345\271\264-1\345\255\246\346\234\237/
過去問-1年-2学期/
\351\201\216\345\216\273\345\225\217-1\345\271\264-2\345\255\246\346\234\237/
電磁気/
\351\233\273\347\243\201\346\260\227/

# Ignore all files in any directory named 'bin'
**/bin/

# Ignore all .pdf files
*.pdf

# Ignore all .DS_Store files (for Mac users)
.DS_Store

# System directories
Application Data/ 
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
スタート メニュー/
# Ignore SSH configuration files
.ssh/
.lesshst